<p><i class="fa fa-twitter fa-lg fa-fw"></i> <a href="https://twitter.com/myrtletree33/" target="_blank">@myrtletree33</a></p>
<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/myrtletree33/" target="_blank">@myrtletree33</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://sg.linkedin.com/in/jhtong" target="_blank">linkedin.com/in/jhtong</a></p>
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="http://joeltong.org/blog" target="_blank">joeltong.org/blog</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="" target="_blank">me [at] joeltong [dot] org</a></p>
